<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= (employee.first_name).capitalize %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= (employee.last_name).capitalize %>
  </p>

  <p>
    <strong>EmployeeID:</strong>
    <%= employee.employee_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= (employee.department).capitalize %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= (employee.role).capitalize %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= (employee.status).capitalize %>
  </p>

</div>
