
<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :photo, as: :file, input_html: { id: 'photo-input', onchange: 'previewImage()' } %>
    <div id="photo-preview"></div>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :department, collection: Employee.departments.keys.map { |department| [I18n.t("activerecord.attributes.employee.departments.#{department}"), department] }, prompt: I18n.t(:'labels.prompts.defaults.department') %>
    <%= f.input :role, collection: Employee.roles.keys.map { |role| [I18n.t("activerecord.attributes.employee.roles.#{role}"), role] }, prompt: I18n.t(:'labels.prompts.defaults.role') %>
    <%= f.input :email %>
    <% unless @employee.new_record?%>
      <%= f.input :status, collection: Employee.statuses.keys.map { |status| [I18n.t("activerecord.attributes.employee.statuses.#{status}"), status] }, prompt: I18n.t(:'labels.prompts.defaults.status') %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
