<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<div id="employees">
  <% @employees.each do |employee| %>
    <%= link_to employee.full_name, employee_path(employee) %>

  <% end %>
</div>

<%= link_to "Add Employee", new_employee_path %>


<%= link_to "English", url_for(locale: "en") %>
<%= link_to "Português", url_for(locale: "pt-BR") %>