<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to I18n.t(:edit), edit_employee_path(@employee) %> |
  <%= link_to I18n.t(:back), employees_path %>

  <%= button_to I18n.t(:delete), @employee, method: :delete,data: { turbo_confirm: I18n.t(:confirmation_delete) } %>
</div>
