<div class="bg-gray-800 text-white min-h-screen">
  <div class="container mx-auto px-4">

    <div data-controller="alert">
    <% if flash[:notice].present? %>
      <div data-alert-target="alert" id="alert" class="bg-teal-100 border-t-4 border-teal-500 rounded text-teal-900 px-4 py-3 shadow-md mx-auto my-2 max-w-lg transition-opacity opacity-90 mt-2" role="alert">
        <div class="flex items-center">
          <div class="py-1">
            <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.707 5.293a1 1 0 00-1.414 0L10 10.586 7.707 8.293a1 1 0 00-1.414 1.414l3 3a1 1 0 006.414-6.414z"/></svg>
          </div>
          <div class="flex-grow">
            <p class="font-bold">Success!</p>
            <p class="text-sm"><%= flash[:notice] %></p>
          </div>
        </div>
      </div>
    <% end %>

      <div data-alert-target="photoCard" id="photo-card" class="bg-gray-900 rounded-lg overflow-hidden shadow-lg max-w-2xl mx-auto mt-16 transition-all duration-1000">
        <div class="flex flex-col md:flex-row">
          <% if @employee&.persisted? && @employee.photo.attached? %>
            <div class="md:w-1/3">
              <%= image_tag(@employee.photo, alt: @employee.full_name,class: "w-480 h-auto object-cover object-center") %>
            </div>
          <% end %>

          <div class="p-4 flex flex-col justify-between md:w-2/3 mt-2">
            <div>
              <h2 class="text-xl font-semibold"><%= @employee.full_name %></h2>
              <p class="text-sm text-gray-400 mb-2">ID: <%= @employee.employee_id %></p>
              <p><strong>Department:</strong> <%= I18n.t("activerecord.attributes.employee.departments.#{@employee.department}") %></p>
              <p><strong>Role:</strong> <%= I18n.t("activerecord.attributes.employee.roles.#{@employee.role}") %></p>
              <p><strong>Email:</strong> <%= @employee.email %></p>
              <p><strong>Status:</strong> <%= I18n.t("activerecord.attributes.employee.statuses.#{@employee.status}") %></p>
            </div>

            <div class="flex gap-2 mt-4">
              <%= link_to I18n.t(:edit), edit_employee_path(@employee), class: "text-blue-500 hover:text-blue-600" %>
              <%= link_to I18n.t(:back), employees_path, class: "text-blue-500 hover:text-blue-600" %>
              <%= button_to I18n.t(:delete), @employee, method: :delete, data: { turbo_confirm: I18n.t(:confirmation_delete) }, class: "bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
