<nav class="fixed top-0 w-full z-50 bg-gradient-to-b from-main via-middleblue to-transparent h-32">
  <div class="max-w-screen-2xl mx-auto px-14 py-4">
    <div class="flex justify-around items-center flex-wrap ">

      <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>

      <div class="flex flex-row">
        <div class="flex items-center justify-between">
          <%= render 'layouts/change_language' %>
        </div>
      </div>

      <ul class="hidden md:flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:p-0 items-center md:py-4">
        <li>
          <%= navbar_link(:employees, employees_path) %>
        </li>
        <li>
          <%= navbar_link(:add_employee, new_employee_path) %>
        </li>
      </ul>
      <div class="hidden md:flex flex-col lg:w-1/2 xl:w-1/2 justify-end max-w-screen-md">
        <%= render 'layouts/navbar_search' %>
      </div>
    </div>
  </div>
</nav>

<div class="max-w-screen-2xl mx-auto px-14 mt-12 -mb-10">
  <div class="flex justify-around items-center flex-wrap ">
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 mt-16" id="navbar-cta">
      <ul class="md:hidden flex flex-row justify-around">
        <li>
          <%= navbar_link(:employees, employees_path) %>
        </li>
        <li>
          <%= navbar_link(:add_employee, new_employee_path) %>
        </li>
      </ul>
      <div class="md:hidden flex flex-col mt-6">
        <%= render 'layouts/navbar_search' %>
      </div>
    </div>
  </div>
</div>